

<ul ngbNav #holdsNav="ngbNav" class="nav-tabs"
    [activeId]="ill_role" [keyboard]="true" (navChange)="beforeTabChange($event)"
    [roles]="false" role="tablist">

  <li role="presentation" ngbNavItem="borrower">
    <a role="tab" ngbNavLink (click)="navItemClick('borrower', $event)" i18n>Requests By My Patrons</a>
    <ng-template ngbNavContent>
      <eg-holds-grid 
        persistKey="ff.ill.onshelf.borrower"
        [noLoadProgress]="true"
        [hideHoldsCount]="false"
        [enablePreFetch]="true"
        [hidePickupLibFilter]="true"
        [hidePullListLibFilter]="true"
        [initialPickupLib]="contextOrg"
        [currentShelfLib]="contextOrg"
        [defaultSort]="[{name:'request_time',dir:'asc'}, {name:'id',dir:'asc'}]"
        showFields="id,current_item,cl_shortname,shelf_time,shelf_expire_time,usr_first_given_name,usr_family_name,ucard_barcode,title"
      />
    </ng-template>
  </li>

  <li role="presentation" ngbNavItem="lender">
    <a role="tab" ngbNavLink (click)="navItemClick('lender', $event)" i18n>Requests From Other Libraries</a>
    <ng-template ngbNavContent>
      <eg-holds-grid 
        persistKey="ff.ill.onshelf.lender"
        [noLoadProgress]="true"
        [hideHoldsCount]="false"
        [hidePrintPullList]="true"
        [enablePreFetch]="true"
        [hidePickupLibFilter]="true"
        [hidePullListLibFilter]="true"
        [pullListOrg]="contextOrg"
        [currentShelfLib]="{not:contextOrg}"
        [defaultSort]="[{name:'request_time',dir:'asc'}, {name:'id',dir:'asc'}]"
        showFields="id,current_item,cl_shortname,shelf_time,shelf_expire_time,usr_first_given_name,usr_family_name,ucard_barcode,title"
      />
    </ng-template>
  </li>
</ul>

<ng-container>
  <div [ngbNavOutlet]="holdsNav"></div>
</ng-container>
